@model WebApp.Models.Login

@{
    ViewData["Title"] = "Update";
    TempData["Title"] = "Update";
    var RazorName = ViewData["Title"];
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" placeholder="jane.doe@example.com" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input type="submit" class="btn btn-primary  btn-sm" value="发送验证码" asp-action="CountDown" />
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
                @ViewData["VSendMail"]
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary btn-seed" />
            </div>
            <input name="Title" class="form-control" value="@ViewData["Title"]" hidden="hidden" />

        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Back to Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
